/**
 * @file
 * RTL styling for the amag-ds-2col-responsive template.
 */

@media screen and (min-width: 900px) {
  .improve-ds-2col-responsive > .group-left {
    float: right; /* RTL */
  }

  .improve-ds-2col-responsive > .group-right {
    float: left; /* RTL */
  }

  .improve-ds-2col-responsive > .group-right > .ds-region-wrapper {
    margin-left: 0; /* RTL */
    margin-right: 30px; /* RTL */
  }
}