/**
 * @file
 * Styling for the improve-ds-2col-responsive template.
 */

@media screen and (min-width: 900px) {
  .improve-ds-2col-responsive > .group-header {
  }

  .improve-ds-2col-responsive > .group-left {
    float: left; /* LTR */
    width: 75%;
  }

  .improve-ds-2col-responsive > .group-right {
    float: right; /* LTR */
    width: 25%;
  }

  .improve-ds-2col-responsive > .group-right > .ds-region-wrapper {
    margin-left: 30px; /* LTR */
  }

  .improve-ds-2col-responsive > .group-footer {
    clear: both;
  }
}