div#toolbar {
  font: 500 14px/20px "Open Sans", Arial, sans-serif;
  background-color: #808080;
}

div#toolbar div.toolbar-menu {
  font: 500 16px/22px "Open Sans", Arial, sans-serif;
  background-color: #36A2F6;
  padding-top: 8px;
  padding-bottom: 8px;
}

div#toolbar div.toolbar-menu ul li a {
  padding: 3px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

div#toolbar div.toolbar-menu #toolbar-home a span {
  margin: 4px 0;
}

div#toolbar div.toolbar-menu ul li a:hover,
div#toolbar div.toolbar-menu ul li a:focus {
  background-color: #2c8acb;
}

div#toolbar div.toolbar-menu ul li a:active {
  background-color: #27629a;
}

div#toolbar div.toolbar-menu ul li a.active:hover,
div#toolbar div.toolbar-menu ul li a.active:focus,
div#toolbar div.toolbar-menu ul li a.active:active,
div#toolbar div.toolbar-menu ul li a.active,
div#toolbar div.toolbar-menu ul li.active-trail a {
  background: #808080 url(../images/toolbar.png) repeat-x 0 0;
}

div#toolbar div.toolbar-menu a.toggle {
  width: 30px;
  height: 30px;
  background: transparent url(../images/toolbar.png) repeat-x -30px -30px;
}

div#toolbar div.toolbar-menu a.toggle.toggle-active {
  background-position: 0 -30px;
}

div#toolbar div.toolbar-menu a.toggle:hover,
div#toolbar div.toolbar-menu a.toggle:focus {
  background-position: -90px -30px;
}

div#toolbar div.toolbar-menu a.toggle.toggle-active:hover,
div#toolbar div.toolbar-menu a.toggle.toggle-active:focus {
  background-position: -60px -30px;
}

div#toolbar div.toolbar-shortcuts ul li a {
  color: #FFF;
}

div#toolbar div.toolbar-drawer div.environment-indicator {
  float: right;
  padding: 3px 10px;
  margin: 5px 25px 0 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background: #555555 url(../images/toolbar.png) repeat-x 0 100%;
  color: #FFF;
}

div#toolbar div.toolbar-drawer a#edit-shortcuts {
  float: left;
  text-indent: -999em;
  overflow: hidden;
  min-width: 50px;
}

div#toolbar div.toolbar-drawer a#edit-shortcuts:hover,
div#toolbar div.toolbar-drawer a#edit-shortcuts:focus {
  text-indent: 0;
}

div#toolbar div.toolbar-drawer a#edit-shortcuts:before {
  content: " ";
  display: block;
  width: 11px;
  height: 11px;
  float: left;
  background: transparent url(../images/toolbar.png) no-repeat -20px -61px;
  margin: 6px 7px 0 0;
}